<div class="aboutme">
  <p>
    about-me works!<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit enim, aperiam dolores maiores dicta non obcaecati 
    vero animi inventore sed consectetur, saepe neque repellendus? Consectetur cumque quisquam quas cupiditate porro.
    about-me works!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit enim, aperiam dolores maiores dicta non obcaecati 
    vero animi inventore sed consectetur, saepe neque repellendus? Consectetur cumque quisquam quas cupiditate porro.
    about-me works!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit enim, aperiam dolores maiores dicta non obcaecati 
    vero animi inventore sed consectetur, saepe neque repellendus? Consectetur cumque quisquam quas cupiditate porro.
    about-me works!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit enim, aperiam dolores maiores dicta non obcaecati 
    vero animi inventore sed consectetur, saepe neque repellendus? Consectetur cumque quisquam quas cupiditate porro.
    about-me works!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit enim, aperiam dolores maiores dicta non obcaecati 
    vero animi inventore sed consectetur, saepe neque repellendus? Consectetur cumque quisquam quas cupiditate porro.
  </p>
</div>
