<section class="postsWrapper">

  <div class="postWrapper" style="border-bottom: 8px solid #CECECE;">

    <div class="row">
      <div class="col-sm-12">
        <a href="#">
            <h3>This is the the clicable title</h3>
        </a>
        <div class="authorAndDate">
          Posted By <span class="authoName">thebisho</span> on <span class="posteDate">September 5, 2016</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <img src="../Assets/images/099.jpg" class="img-thumbnail" alt="Cinque Terre" width="250" height="250">
      </div>
      <dic class="col-sm-9">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus quis in, 
            doloribus dolores ipsam. Laborum ratione suscipit nemo modi officiis, ipsum veritatis 
            impedit recusandae, expedita debitis incidunt, rem at unde. Lorem ipsum dolor sit amet, 
            consectetur adipisicing elit. Deserunt nisi neque quam beatae, 
        </p>
      </dic>
    </div>

  </div>

  <div class="postWrapper" style="border-bottom: 8px solid #CECECE;">

    <div class="row">
      <div class="col-sm-12">
        <a href="#">
            <h3>This is the the clicable title</h3>
        </a>
        <div class="authorAndDate">
          Posted By <span class="authoName">thebisho</span> on <span class="posteDate">September 5, 2016</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <img src="../Assets/images/099.jpg" class="img-thumbnail" alt="Cinque Terre" width="250" height="250">
      </div>
      <dic class="col-sm-9">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus quis in, 
            doloribus dolores ipsam. Laborum ratione suscipit nemo modi officiis, ipsum veritatis 
            impedit recusandae, expedita debitis incidunt, rem at unde. Lorem ipsum dolor sit amet, 
            consectetur adipisicing elit. Deserunt nisi neque quam beatae, 
        </p>
      </dic>
    </div>

  </div>

  <div class="postWrapper" style="border-bottom: 8px solid #CECECE;">

    <div class="row">
      <div class="col-sm-12">
        <a href="#">
            <h3>This is the the clicable title</h3>
        </a>
        <div class="authorAndDate">
          Posted By <span class="authoName">thebisho</span> on <span class="posteDate">September 5, 2016</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <img src="../Assets/images/099.jpg" class="img-thumbnail" alt="Cinque Terre" width="250" height="250">
      </div>
      <dic class="col-sm-9">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus quis in, 
            doloribus dolores ipsam. Laborum ratione suscipit nemo modi officiis, ipsum veritatis 
            impedit recusandae, expedita debitis incidunt, rem at unde. Lorem ipsum dolor sit amet, 
            consectetur adipisicing elit. Deserunt nisi neque quam beatae, 
        </p>
      </dic>
    </div>

  </div>

  <div class="postWrapper" style="border-bottom: 8px solid #CECECE;">

    <div class="row">
      <div class="col-sm-12">
        <a href="#">
            <h3>This is the the clicable title</h3>
        </a>
        <div class="authorAndDate">
          Posted By <span class="authoName">thebisho</span> on <span class="posteDate">September 5, 2016</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <img src="../Assets/images/099.jpg" class="img-thumbnail" alt="Cinque Terre" width="250" height="250">
      </div>
      <dic class="col-sm-9">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus quis in, 
            doloribus dolores ipsam. Laborum ratione suscipit nemo modi officiis, ipsum veritatis 
            impedit recusandae, expedita debitis incidunt, rem at unde. Lorem ipsum dolor sit amet, 
            consectetur adipisicing elit. Deserunt nisi neque quam beatae, 
        </p>
      </dic>
    </div>

  </div>

  <div class="postWrapper" style="border-bottom: 8px solid #CECECE;">

    <div class="row">
      <div class="col-sm-12">
        <a href="#">
            <h3>This is the the clicable title</h3>
        </a>
        <div class="authorAndDate">
          Posted By <span class="authoName">thebisho</span> on <span class="posteDate">September 5, 2016</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <img src="../Assets/images/099.jpg" class="img-thumbnail" alt="Cinque Terre" width="250" height="250">
      </div>
      <dic class="col-sm-9">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus quis in, 
            doloribus dolores ipsam. Laborum ratione suscipit nemo modi officiis, ipsum veritatis 
            impedit recusandae, expedita debitis incidunt, rem at unde. Lorem ipsum dolor sit amet, 
            consectetur adipisicing elit. Deserunt nisi neque quam beatae, 
        </p>
      </dic>
    </div>

  </div>

</section>

<router-outlet></router-outlet>