<section class="postsWrapper">

  <!--Post Upper Wrapper: Start-->

  <div class="postUpperWrapper" *ngFor="let blog of allPosts;">

    <!--Image Wrapper: Start-->

    <div class="row">
      <div class="col-sm-12 photoWrapper" style="padding: 0;">
        <img src="{{ blog.imageUrl }}" class="img-responsive" alt="Cinque Terre" width="1000" height="300">
      </div>
    </div>
    <!--Image Wrapper: End-->

    <!--Title And Infos: Start-->

    <div class="row">
      <div class="col-sm-12 titleWrapper" style="padding: 0;">
        <a [routerLink] = "[blog.id]"><h3>{{ blog.title }}</h3></a>
      </div>
      <div class="col-sm-12 titleWrapper" style="padding: 0;">
        Posted By <span class="authoName">{{ blog.authorName }}</span> on <span class="posteDate">{{ blog.postedDate }}</span>
      </div>
    </div>
    <!--Title And Infos: End-->

    <!--Blog Post Snippet:Start-->

    <div class="row">
      <div class="col-sm-12 blogPostSnippet" style="padding: 0; margin-top:12px;">
        <p>
            {{ blog.post }}
        </p>
      </div>
    </div>
    <!--Blog Post Snippet:End-->

    <!--Continue Action: Start-->

    <div class="row">
      <div class="com-sm-12 continueReadingWrapper" style="padding:0; margin-top:12px;">
        <a [routerLink] = "[blog.id]" class="continueReadingButton">Continue Reading</a>
      </div>
    </div>
    <!--Continue Action: End-->

    <!--Divider: Start-->

    <div class="row">
      <div class="com-sm-12" style="padding:0;">
        <div class="dividerDiv"></div>
      </div>
    </div>
    <!--Divider: End-->

  </div>
  <!--Post Upper Wrapper: End-->

</section>

<router-outlet></router-outlet>