html, body {
    height: 100vh;
    margin: 0;
}

.redborder{
    border: 1px solid red;
}

.greenborder{
    border: 1px solid green;
}

.paddding-0px{
    padding: 0;
}

.margin-0px{
    margin:0;
}

.fullHeight{
    height:100vh; 
}

.darkgreyCanvas{
    background-color: #283018;
    color: #f0eceb;
}

.whiteCanvas{
    background-color: #f0eceb;
}

.sideBar{
    text-align: center;
    vertical-align: middle;
    margin-top:15vh; 
}

#navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height:200%;
}

#navigation ul li a{
    color: #729f98;
}

#profileName{
    margin:10px 0 20px 0;
    font-size: 26px; 
}

#footer{
    background-color: #aa863a;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
    padding: 5px;
    font-size: 12px;
}