<section class="row padding-0px margin-0px">
  <div class="col-xs-3 darkgreyCanvas fullHeight">
    <div class="sideBar">
      <div>
        <div id="profileImage">
          <img src="../Assets/images/099.jpg" height="200" alt="profileImage" width="200" class="img-circle">
        </div>
        <div id="profileName">bishorup banjara</div>
      </div>
      <div id="navigation">
        <ul>
          <li><a [routerLink] = "['/allposts']">all posts</a></li>
          <li><a [routerLink] = "['/aboutme']">about me</a></li>
          <li><a [routerLink] = "['/contact']">contact</a></li>
        </ul>
      </div>
      <div id="footer">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint libero, 
        autem eos qui in perferendis delectus dolorem est, consequatur itaque aut, 
        quis, sequi numquam unde doloremque distinctio reiciendis temporibus atque?
      </div>
    </div>
  </div>
  <div class="col-xs-9 whiteCanvas fullHeight scrollable">
    <router-outlet></router-outlet>
  </div>
</section>
