/*BODY COLOR: #A4CACC, #6991AC*/
@import url(//db.onlinewebfonts.com/c/014548f41ad04abd5cc977ab57533a3b?family=LPBambusW00-Light);
@import url(//db.onlinewebfonts.com/c/e2c812d3302473831ceb066938fb9b1f?family=LPBambusW00-Regular);

html, body {
    height: 100vh;
    margin: 0;
}

p{
    color: #282828;
    font-family: 'Droid Serif', serif;
    font-size: 20px;
    word-spacing: 2px;
    line-height: 140%;
}

#profileName{
    font-family: "LPBambusW00-Regular";
    font-size: 40px;
    letter-spacing: 2px;
}

.scrollable{
    /*position: relative;*/
    overflow: auto;
    z-index: 1;
}

.greenborder{
    border: 1px solid green;
}

.paddding-0px{
    padding: 0;
}

.margin-0px{
    margin:0;
}

.fullHeight{
    height:100vh; 
}

.darkgreyCanvas{
    background-color: #2D2E33;
    color: #F5F5F5;
}

.whiteCanvas{
    background-color: #F5F5F5;
}

.sideBar{
    text-align: center;
    vertical-align: middle;
    margin-top:15vh; 
}

#navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height:200%;
}

#navigation ul li a{
    color: #929CA4;
}

#profileName{
    margin:10px 0 20px 0;
    font-size: 26px; 
}

#footer{
    background-color: #0FB492;
    color: #BDEFE5;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
    padding: 5px;
    font-size: 12px;
}